@use "../util" as *;

.cart-wrapper {
  position: relative;
}

.cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: white;
  padding: 2rem;
  border-radius: $radius;
  z-index: -5;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity);
  &.active {
    z-index: -5;
    visibility: hidden;
    opacity: 0;
  }
  h4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    span {
      color: $clr-primary;
      font-size: $heading-small;
    }
    .remove-all-btn {
      font-size: $text-xsmall;
    }
  }
  .item {
    display: flex;
    align-items: flex-start;
    padding: 0 1rem;

    .img-wrapper {
      width: 75px;
      height: 75px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      width: 15rem;
      margin: 0 1rem;
      .name {
        font-size: $heading-xsmall;
        color: $clr-primary;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $heading-xsmall;
      }
      .price {
        font-size: $text-small;
        margin: 0.25rem 0;
        letter-spacing: 1px;
      }
      .remove-item-btn {
        font-size: $text-xsmall;
      }
    }
    .quantity-btns {
      display: flex;
      flex-direction: column;
      button,
      .quantity {
        flex: 1;
        @include flexCenter(row);
      }
      button {
        font-size: $text;
        @include transition(color);
        &:hover {
          color: $clr-accent;
        }
      }
      .quantity {
        font-size: $text-small;
      }
    }
  }
  .total {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $text;
    font-weight: 500;
    span {
      color: $clr-primary;
      font-weight: 700;
      font-size: $heading-small;
      letter-spacing: 1px;
    }
  }
  .checkout-btn a {
    @include productButton(white, $clr-accent, $clr-accent);
    width: 100%;
  }

  .remove-all-btn,
  .remove-item-btn {
    color: $clr-text;
    @include transition(opacity);
    &:hover {
      opacity: 0.7;
    }
  }
}

.cart-btn {
  color: white;
  font-size: $heading-medium;
  padding: 1rem;
  padding-right: 0;
  @include transition(color);
  &:hover {
    color: $clr-accent;
  }
}

.bcg-blur {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: -5;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity);
  &.active {
    z-index: 5;
    visibility: visible;
    opacity: 1;
  }
}
