@use "../util" as *;

header {
  @include flexCenter(column);
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
  .header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $pageWidth;
    border-bottom: 1px solid $clr-text;
    padding: 1rem 0;
    position: relative;
  }

  h1 {
    color: white;
    text-transform: uppercase;
    margin: 4rem 0;
    font-size: $heading-large;
  }
  nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &.bcg-black {
    background-color: $clr-primary;
  }
}
