@use "../util" as *;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  color: $clr-text;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 100%;
}

button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

#root {
  @include flexCenter(column);
  width: 100%;
  min-height: 100vh;
  color: $clr-text;
}

main {
  display: flex;
  flex-direction: column;
  width: $pageWidth;
  gap: 12rem;
  margin: 12rem 0;
  position: relative;
}

p {
  font-size: $text;
}

.company-name {
  color: white;
  font-size: $heading-medium;
  font-weight: 700;
  z-index: 2;
}

.tag {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 500;
  font-size: 1.25rem;
}

.go-back-btn {
  position: absolute;
  transform: translateY(-5rem);
  text-transform: capitalize;
  font-size: $text;
  color: $clr-text;
  @include transition(opacity);
  &:hover {
    opacity: 0.7;
  }
}

.bcg-blur {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: -5;
  visibility: hidden;
  opacity: 0;
  @include transition(opacity);
}

// accessibility
.visually-hidden {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
